:root{
  --dark-blue: #2b2f3e;
  --seleced-red: #ff404b;
  --seprator-grey: #f5f5f5;
}
html, body{
  height: 100vh;
  background-color: white;
}
#root{
  height: 100vh;
}
*{
  box-sizing: border-box;
  scrollbar-width: thin;
}
input[type='text'], input[type='number']{
  padding: 5px;
  font-weight: 600;
  border: 0;
  border-bottom: 1px solid #333333;
  /* background-color: var(--dark-blue); */
}

input[type='submit'], input[type='reset']{
  color: white;
  background-color: rgb(21,21,21);
  padding: 5px 15px;
  border: 0;
  cursor: pointer;
  margin: 5px;
}

textarea{
  width: 100%;
  padding: 5px;
  border: 0;
  height: 350px;
  resize: none;
}



textarea,
pre {
    -moz-tab-size : 2;
      -o-tab-size : 2;
         tab-size : 2;
}

::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb{
  background-color: #cdcdcd;
}