html, body{
  height: 100vh;
}
#root{
  height: 100vh;
}
*{
  box-sizing: border-box;
}
input[type='text'], input[type='number']{
  padding: 5px;
  font-weight: 600;
  border: 0;
  border-bottom: 1px solid #333333;
}

input[type='submit'], input[type='reset']{
  color: white;
  background-color: #333333;
  padding: 5px 15px;
  border: 0;
  cursor: pointer;
  margin: 5px;
}